---
interface Props {
    topMargin?: boolean
    bottomMargin?: boolean
}

const { topMargin = true, bottomMargin = true } = Astro.props
---

<div
    class="separator"
    style={`margin-top: ${topMargin ? '40px' : '0'}; margin-bottom: ${bottomMargin ? '40px' : '0'};`}>
</div>

<style>
    .separator {
        width: 100%;
        height: 1px;
        background-color: var(--border);
    }
</style>
