---
import LayoutWithTitle from '../layouts/LayoutWithTitle.astro'
import FourOFourArt from '../components/flamy/404Art.astro'
---

<LayoutWithTitle htmlTitle="404 – Page Not Found" title="404 – Page Not Found">
    <p class="fs2">Même notre flamant rose ne la trouve pas dans le repo.</p>
    <p class="text-muted">
        Cette route n’existe pas. Essayez de faire un git checkout vers la <a href="/">branche principale</a>.
    </p>
    <FourOFourArt />
</LayoutWithTitle>
