---
import { EVENT_DATA } from '../../config'
const url = import.meta.env.SITE
---

<div class="space-y-4">
    <a href={url} class="inline-block">
        <div class="space-y-2">
            <h3 class="text-2xl font-black text-gradient">{EVENT_DATA.event.name}</h3>
            <p class="text-gray-300 italic text-sm">{EVENT_DATA.event.tagline}</p>
        </div>
    </a>

    <p class="text-gray-400 text-sm leading-relaxed">
        {EVENT_DATA.event.description}
    </p>
</div>
